<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Mapa de felicidad</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>